#member #regions .list .region {

    margin-bottom: 10px;
}

#member #addresses .list .address {

    margin-bottom: 10px;
    min-width: 350px;
}

#member #addresses .list .address .address-title {

    width: 520px;
}

#member #categories {

    min-width: 100%;
}

#member #categories .category {

    margin-bottom: 10px;
}


#member .logo {

    float: left;
    padding-right: 15px;
}

#member .logo img {
    border-radius: 5px;
}

#member .phone {

    font-size: 16px;
    line-height: 1.4em;
    font-family: "trebuchet ms";
}

#member .info {

}

#member .info dt, #member .info dd {

    line-height: 30px;
}

#member .info dt {

    width: 140px;
}

#member .info dd {

    margin-left: 165px;
}

#member #addresses {

    margin-bottom: 20px;
    width: 500px;
}

#member #map_canvas {

    width: 100%;
    height: 300px;
}

#member .map-bubble p, #member .map-bubble hr {

    margin: 5px 0;
    max-width: 350px;
}

#member .map-bubble-wrapper {
    display: none;
}

#members {

    margin-top: 40px;
}

#members .member {

    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fdfdfd;
}

#members .member:hover {
    border: solid 1px #CCCCCC;
}

#members .member .info {

    padding-left: 5px;
}

#members .member .description {
    font-weight: bold;
}

#members .member .phone {

    font-size: 16px;
    line-height: 1.4em;
    font-family: "trebuchet ms";
    padding: 3px;
}

#members .member .site {

    font-size: 16px;
    line-height: 1.4em;
}

#members .member .logo {

    width: 150px;
    height: 150px;
    float: right;
    text-align: center;
}

#members .member .logo img {

    border-radius: 5px;
    vertical-align: middle;
}