h1 Род
.table-control
  = link_to 'Добавить род', new_control_genu_path, :class => 'btn btn-primary'
table.table.table-striped.table-hover
  tr
    th= sortable :id, '#'
    th= sortable :name, 'Название'
    th= sortable :lat_name, 'Лат.Название'
    th= sortable :plant_category_id, 'Категория'
    th
  - @genus.each do |genu|
    tr
      td
        strong= genu.id
      td= genu.name
      td= genu.lat_name
      td= genu.plant_category.name if genu.plant_category.present?
      td style="text-align: right;"
        = link_to 'Добавить Вид', new_control_plant_path(:plant_category_id => genu.plant_category.id, :genu_id => genu.id), :class => 'btn btn-small' if genu.plant_category.present?
        = link_to 'Изменить', edit_control_genu_path(genu), :class => 'btn btn-small'
        = link_to 'Удалить', control_genu_path(genu), method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-danger btn-small'
= will_paginate @genus, :renderer => BootstrapPagination::Rails
