= form_for([:control, @region], :html => {:class => "form-horizontal"}) do |f|
  - if @region.errors.any?
    #error_explanation.alert.alert-error
      ul
        - @region.errors.full_messages.each do |msg|
          li= msg
  p#notice= notice
  fieldset
    legend Данные по региону
    .control-group
      label.control-label= f.label :country
      .controls
        = f.select :country_id, options_from_collection_for_select(Country.all, :id, :name, @region.country_id)
    .control-group
      label.control-label= f.label :name
      .controls
        = f.text_field :name, :placeholder => 'Московская область'
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    = link_to 'Отмена', control_regions_path, :class => 'btn'