#plants-price-list .modal {

    width: 720px;
    left: 45%;
}
#plants-price-list .modal-body {
    overflow-y: visible;
}

.tab-content {
    overflow: visible;
}

#plant-price-info table td {

    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px;
}

#plants-price-list .remove-btn {
    text-align: right;
}

.btn-group {

    text-align: left;
}
