- @plant_price = f.object
td.plant-name
  = @plant_price.plant.name if @plant_price.plant.present?
td.packing
  = @plant_price.packing
td.size
  = @plant_price.size
td.count
  = @plant_price.count
td.price
  = @plant_price.price
td.note
  = @plant_price.note
td.prices
  select.price-select.multiselect multiple="multiple"
    - current_user.member.member_prices.each do |member_price|
      option value=member_price.id selected="#{true  if member_price.plant_prices.where(:id => @plant_price.id).count > 0}"
      = member_price.name
td.remove-btn
  a.btn.btn-small onclick="addNewPrice(this);"
  a.btn.btn-danger.btn-small onclick="removePrice(this);"
  a onclick="addImagesForPlantPrice(this, #{@plant_price.id})"
  input.plant_price_id type="hidden" value=@plant_price.id
  #plant-price-info.modal.hide.fade
    .modal-body
      table
        tr
          td Растение
          td Упаковка
          td Размер
          td Количество
          td Цена
          td Примечание
        tr
          td
            = f.hidden_field :plant_id, :class => 'plant_id'
            = text_field_tag :autocomplete => "off", :placeholder => "Введите название", :style => "z-index: 1051;", :class => "plant input-small typeahead", :value =>f.object.plant.name if f.object.plant.present?
          td
            = f.text_field :packing, :placeholder => 'C3', :class => 'packing input-small'
          td
            = f.text_field :size, :placeholder => '40 - 60', :class => 'size input-small'
          td
            = f.text_field :count, :placeholder => '10', :class => 'count input-small' 
          td
            = f.text_field :price, :placeholder => '790', :class => 'price input-small'
          td
            = f.text_field :note, :placeholder => 'Скидка от 10 шт.', :class => 'note input-small'
    .modal-footer
      a#save-btn.btn.btn-primary Сохранить
      a#cancel-btn.btn Отмена
