h1 Мой профиль
= render 'shared/profile_menu'
= form_for(@user, :url => { :action => 'update_me' }, :html => {:class => "form-horizontal"}) do |f|
  - if @user.errors.any?
    #error_explanation.alert.alert-error
      ul
        - @user.errors.full_messages.each do |msg|
          li= msg
  fieldset
    legend Личные данные
    .control-group
      label.control-label= f.label :email
      .controls
        strong
        div style="margin: 5px; text-decoration: underline;"
          = @user.email
    .control-group
      label.control-label= f.label :name
      .controls
        = f.text_field :name, :placeholder => 'Иван'
    .control-group
      label.control-label= f.label :last_name
      .controls
        = f.text_field :last_name, :placeholder => 'Ивановов'
    .control-group
      label.control-label= f.label :surname
      .controls
        = f.text_field :surname, :placeholder => 'Иванович'
    .control-group
      label.control-label= f.label :address
      .controls
        = f.text_field :address, :autocomplete => 'off'
    legend Новый пароль
    .control-group
      label.control-label= f.label :password
      .controls
        = f.password_field :password, :autocomplete => 'off', :placeholder => 'новый пароль'
    .control-group
      label.control-label= f.label :password_confirmation
      .controls
        = f.password_field :password_confirmation, :autocomplete => 'off', :placeholder => 'новый пароль еще раз'
    legend Контактная информация
    .control-group
      label.control-label= f.label :phone
      .controls
        = f.text_field :phone, :placeholder => '+7 (910) 123 45 67'
    .control-group
      label.control-label= f.label :skype
      .controls
        = f.text_field :skype
    .control-group
      label.control-label= f.label :icq
      .controls
        = f.text_field :icq
    .control-group
      label.control-label= f.label :site
      .controls
        = f.text_field :site
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
